#article_tags.sidebar_child
  %h3 Tags
  %ul
    - Article.tag_counts.each_with_index do |tag, i|
      %li
        %h4= link_to "#{tag.name} (#{tag.count})", tag
        - unless i == Article.tag_counts.count - 1
          .divider